#discount {
  height: 390px;
  width: 100%;
  position: relative;
  background: linear-gradient(135deg, @blue, #74b6ff);
  overflow: hidden;
  @media (max-width: 767px) {
    height: 296px;
  }


  .bg-image {
    li {
      height: 100px;
      width: 100px;
      position: absolute;
      transition: all 2s ease;
    }
    #first-time {
      height: 90%;
      width: 100%;
      background: url(../img/FIRST_TIME.png) no-repeat center;
      @media (max-width: 1610px) {
        width: 90%;
        margin: 0 5%;
        background-size: contain;
      }
    }

    // Clothes
    #clothes-tag {
      top: 40px;
      left: 3%;
      background: url(../img/clothes-tag.svg) no-repeat center;
      @media (min-width: 1200px) {
        left: 11.6%;
      }
      @media (max-width: 767px) {
        top: 5px;
      }
    }
    #clothes-tag-1 {
      top: 200px;
      left: 1453px;
      background: url(../img/ClothesTag.svg) no-repeat center;
    }

    // Percentage-label
    #percentage-label {
      top: 184px;
      left: 7.4%;
      background: url(../img/PercentageLabel.svg) no-repeat center;
      animation: spin 12.8s linear infinite;
      @media (max-width: 767px) {
        top: -515px;
        left: -500px;
        height: 1000px;
        width: 1000px;
        opacity: 0;
        background-size: contain;
      }
    }
    #percentage-label-1 {
      top: 270px;
      left: 77%;
      background: url(../img/PercentageLabel-1.svg) no-repeat center;
      @media (min-width: 1200px) {
        left: 73%;
      }
      @media (max-width: 767px) {
        top: 136px;
      }
    }

    // Percentage-discount
    #percentage-discount {
      top: 246px;
      left: 22%;
      background: url(../img/PercentageDiscount.svg) no-repeat center;
      @media (max-width: 767px) {
        top: 215px;
        left: 7%;
        height: 40px;
        width: 40px;
        background-size: contain;
      }
    }
    #percentage-discount-1 {
      top: 134px;
      left: 1012px;
      background: url(../img/PercentageDiscount-1.svg) no-repeat center;
    }

    // Give-money
    #give-money {
      top: 40px;
      left: 34%;
      background: url(../img/GiveMoney.svg) no-repeat center;
      @media (max-width: 767px) {
        top: 25px;
        left: 72%;
        height: 32px;
        width: 32px;
        background-size: contain;
      }
    }
    #give-money-1 {
      top: 49px;
      left: 1392px;
      background: url(../img/GiveMoney-1.svg) no-repeat center;
      animation: blick 10.8s linear infinite;
    }
  }
  .wrapper {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    .container {
      display: table-cell;
      vertical-align: middle;
      h3 {
        font-weight: 400;
        color: #fff;
        font-size: 30px;
        margin-bottom: 25px;
        @media (max-width: 767px) {
          font-size: 26px;
        }
        span {
          font-weight: 500;
        }
      }
      .btn-discount {
        height: 70px;
        width: 100%;
        max-width: 360px;
        margin: 0 auto 35px;
        border: 2px solid #fff;
        border-radius: 5px;
        box-sizing: border-box;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 300;
        @media (max-width: 767px) {
          max-width: 260px;
        }
        p {
          color: #ffffff;
          line-height: 64px;
          font-size: 30px;
          margin: 0;
          @media (max-width: 767px) {
            font-size: 22px;
          }
          span {
            font-weight: 500;
          }
        }
      }
    }
  }
}

@keyframes spin {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

@keyframes blick {
  0% { opacity: 6; }
  5% { opacity: .4; }
  7% { opacity: .1; }
  31% { opacity: 1; }
  38% { opacity: .7; }
  42% { opacity: .9; }
  62% { opacity: .3; }
  72% { opacity: 1; }
}