#select {
  min-height: 340px;
  width: 100%;
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    background: url(../img/shadow_select.png) no-repeat center;
    background-size: contain;
  }
  @media (max-width: 767px) {
    min-height: 350px;
  }

  .content-box {
    text-align: center;
    margin-bottom: 100px;
    @media (max-width: 991px) {
      margin-bottom: 80px;
    }
    h3 {
      font-weight: 400;
      font-size: 30px;
      margin: 92px 0 45px;
    }
    #accordion {
      text-align: left;
      margin: 0 12%;
      @media (max-width: 767px) {
        margin: 0;
      }
      li.accordion-item {
        height: 50px;
        background: @blue;
        margin-bottom: 10px;
        border-radius: 5px;
        line-height: 50px;
        color: #ffffff;
        padding: 0 45px;
        font-size: 20px;
        text-transform: capitalize;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        @media (max-width: 767px) {
          padding: 0 20px;
        }
        a.title {
          border-bottom: 1px dashed #fff;
          display: inline;
          @media (max-width: 767px) {
            margin-left: 25px;
          }
        }
        i {
          position: absolute;
          font-size: 16px;
          left: 25px;
          top: 17px;
          transform: rotate(0deg);
        }
        i.rotate {
          transform: rotate(90deg);
        }
        ul {  // Список всех элементов внутри открытого окна
          font-size: 0;
          li {
            height: 40px;
            display: block;
            border-bottom: 1px solid #cfcfcf;
            font-size: 14px;
            width: 100%;
            margin: 0;
            position: relative;
            &:hover {
              .name a:before {
                opacity: 1;
              }
              div.btn.btn-more p{
                border: 1px solid @blue;
                color: @blue;
              }
              div.btn.order-now p {
                border: 1px solid @orange;
                background: @orange;
                color: #fff;
              }
              .name a {
                text-decoration: underline;
              }
            }

            p {
              margin: 0;
              padding: 0;
            }
            .name,
            .price {
              padding: 0;
              height: 40px;
              white-space: nowrap;
              overflow: hidden;
              text-overline: ellipsis;
            }
            .name a {
              color: @blue;
              margin-left: 20px;
              &:before {
                content: '\f111';
                font-family: 'fontawesome' !important;
                font-size: 8px;
                margin-right: 10px;
                opacity: .3;
                position: absolute;
                left: 0;
              }
            }
            .price p {
              float: right;
              margin-right: 40px;
              color: #000;
              text-transform: none;
              span {
                color: #cfcfcf;
              }
            }

            div.btn {
              float: left;
              padding: 0 0 0 5px;
              height: 26px;
              line-height: 26px;
              text-align: center;
              transition: all .3s ease;
              @media (max-width: 991px) {
                margin-top: 10px;
              }
              p {
                border: 1px solid #999;
                border-radius: 5px;
                color: #999;
                margin-top: 7px;
              }
            }
            div.btn.btn-more {
              &:before {
                @media (max-width: 991px) {
                  content: '\e903';
                  color: @blue;
                  border: 1px solid @blue;
                }
              }
              p {
                border: 1px solid #cfcfcf;
                color: #cfcfcf;
              }
            }
            div.btn.btn-more:hover::before {
              color: #fff;
              background: @blue;
            }
            div.btn.order-now {
              &:before {
                @media (max-width: 991px) {
                  content: '\e901';
                  background: @orange;
                  color: #fff;
                }
              }
              p {
                border: 1px solid #a3a3a3;
                color: #a3a3a3;
              }
            }
            div.btn.order-now:hover::before {
              color: @orange;
              border: 1px solid @orange;
              background: none;
            }
            div.btn.btn-more:before,
            div.btn.order-now:before {
              @media (max-width: 991px) {
                font-family: 'icomoon';
                font-size: 18px;
                padding: 5px;
                border-radius: 5px;
              }
              @media (max-width: 325px) {
                font-family: 'icomoon';
                font-size: 14px;
                padding: 5px;
                border-radius: 5px;
              }
            }
          }
        }
        .last-li {
          margin-bottom: 20px;
        }
      }
      li.current {
        height: auto;
        min-height: 50px;
        border: 1px solid @blue;
        background: none;
        color: @blue;
        padding-bottom: 20px;
      }
    }
  }
}